/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    
    /* debug */
    background-color: lightblue;
    height: 600px;
}

.small-container {
    width: 30%;
    
    /* debug */
    background-color: mediumslateblue;
    height: 400px;
}

.large-container {
    width: 70%;
    
    /* debug */
    background-color: green;
    height: 400px;
}